# Local configuration files
appsettings.Development.json
appsettings.Production.json
appsettings.local.json

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Visual Studio Code files
.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Results
**/bin/*
**/obj/*

#test data
job-profiles.json
job-offers.json